목적 : listed data split & Resampling
==============
목표 : 쌍대표본방식으로 Undersampling
-----------------
각 수명주기별 부실기업 표본수와 정상기업 표본수를 일치하도록 임의로 추출한다.

import modules

In [1]:
import pandas as pd
import numpy as np
#워닝 메시지
import warnings
warnings.filterwarnings('ignore')

load files

In [2]:
listed = pd.read_csv("./상장후보피처+시장지표.csv")

# 데이터 확인

In [3]:
listed.columns

Index(['회사명', '거래소코드', '회계년도', 'CASH FLOW 대 부채비율', 'CASH FLOW 대 차입금비율',
       'CASH FLOW 대 총자본비율', 'CASH FLOW 대 매출액비율', '유동비율', '당좌비율', '부채비율',
       '유동부채비율', '차입금의존도', '순운전자본비율', '현금비율', '유동자산구성비율', '자기자본구성비율',
       '자기자본순이익률', '경영자본순이익률', '매출액순이익률', '총자본사업이익률', '총자본정상영업이익률',
       '매출액정상영업이익률', '금융비용부담률', 'CROE', '총자산증가율', '총자본증가율', '유동자산증가율',
       '비유동자산증가율', '매출액증가율', '유형자산증가율', '부가가치(백만원)', '총자본투자효율', '설비투자효율',
       '부가가치율', '이윤분배율', '자본분배율', '총자산회전율', '매출채권회전률', '당좌자산회전률', '유형자산회전율',
       '경영자본회전률', '총자본회전률', '비유동자산회전률', '유동자산회전률', '영업년수', '상장년수', 'PER',
       'PBR', 'PCR', 'PSR', '부실판단', '도입기', '성숙기', '성장기', '쇠퇴기'],
      dtype='object')

In [4]:
listed['부실판단'].value_counts()

부실판단
1.0    368
0.0    363
Name: count, dtype: int64

In [5]:
listed[['도입기', '부실판단']].value_counts()

도입기  부실판단
0    0.0     314
     1.0     210
1    1.0     158
     0.0      49
Name: count, dtype: int64

In [6]:
listed[['성장기', '부실판단']].value_counts()

성장기  부실판단
0    1.0     315
     0.0     259
1    0.0     104
     1.0      53
Name: count, dtype: int64

In [7]:
listed[['성숙기', '부실판단']].value_counts()

성숙기  부실판단
0    1.0     319
     0.0     190
1    0.0     173
     1.0      49
Name: count, dtype: int64

In [8]:
listed[['쇠퇴기', '부실판단']].value_counts()

쇠퇴기  부실판단
0    0.0     326
     1.0     260
1    1.0     108
     0.0      37
Name: count, dtype: int64

# train_test_split

In [9]:
listed

,회사명,거래소코드,회계년도,CASH FLOW 대 부채비율,CASH FLOW 대 차입금비율,CASH FLOW 대 총자본비율,CASH FLOW 대 매출액비율,유동비율,당좌비율,부채비율,...,상장년수,PER,PBR,PCR,PSR,부실판단,도입기,성숙기,성장기,쇠퇴기
0,(주)CMG제약,58820,2022,19,79,2,6,617,520,15,...,23.0,-716.666667,1.614563e+03,6.047905e+04,3.632941e+03,0.0,0,0,1,0
1,(주)ES큐브,50120,2020,3,270,3,24,62,60,929,...,22.0,-0.201808,1.089064e+03,-2.022628e+03,9.382091e+02,1.0,0,0,0,1
2,(주)MH에탄올,23150,2022,6,9,5,19,28,23,369,...,28.0,8.717068,5.885946e+02,3.407741e+03,5.071294e+02,0.0,0,1,0,0
3,(주)강원에너지,114190,2018,-16,-28,-7,-8,162,161,87,...,15.0,21.076923,8.386890e+02,-4.138892e+03,4.901358e+02,1.0,1,0,0,0
4,(주)고려시멘트,198440,2022,0,7,0,0,402,335,25,...,10.0,-9.794239,6.961422e+02,-5.781497e+03,1.088800e+03,0.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,(주)한중엔시에스,107640,2016,2,2,1,1,83,58,363,...,11.0,-10.445205,1.047754e+06,1.823092e+07,2.688815e+05,1.0,0,0,1,0
727,도부마스크 (주),227420,2018,-28,-77,-18,-21,139,139,169,...,8.0,-1.147126,7.961455e+05,-5.380708e+06,3.422919e+05,1.0,0,0,0,1
728,에이치엔에스하이텍(주),44990,2021,13,44,6,5,189,150,99,...,9.0,7.601476,2.047153e+06,1.629744e+07,8.857387e+05,1.0,0,0,1,0
729,에이펙스인텍(주),207490,2022,3,4,2,2,123,89,219,...,6.0,309.090909,3.549369e+06,5.973646e+06,1.154390e+06,0.0,0,0,1,0
730,태양기계(주),116100,2022,27,3,34,90,65,444,43,...,11.0,9.101562,5.246524e+08,2.105905e+06,2.251412e+05,0.0,0,1,0,0

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

# 예제 데이터프레임 생성
# data = {'feature1': range(10), 'feature2': range(10), 'label': range(10)}
# df = pd.DataFrame(data)

# # 특성과 레이블을 나눔
# X = df[['feature1', 'feature2']]
# y = df['label']

X = listed.drop('부실판단', axis=1)
y = listed['부실판단']
# 데이터를 학습용과 테스트용으로 나눔
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=(np.exp(1) / 10), random_state=119, stratify=y)

In [11]:
len(y_train)

532

In [12]:
len(y_test)

199

In [13]:
X_train['도입기'].value_counts()

도입기
0    385
1    147
Name: count, dtype: int64

In [14]:
X_train['성장기'].value_counts()

성장기
0    417
1    115
Name: count, dtype: int64

In [15]:
X_train['성숙기'].value_counts()

성숙기
0    366
1    166
Name: count, dtype: int64

In [16]:
X_train['쇠퇴기'].value_counts()

쇠퇴기
0    428
1    104
Name: count, dtype: int64

In [17]:
X_train['부실판단'] = y_train

In [18]:
y_train

647    0.0
93     0.0
166    1.0
199    1.0
55     1.0
      ...
476    0.0
381    1.0
217    1.0
391    0.0
45     0.0
Name: 부실판단, Length: 532, dtype: float64

In [19]:
y_train

647    0.0
93     0.0
166    1.0
199    1.0
55     1.0
      ...
476    0.0
381    1.0
217    1.0
391    0.0
45     0.0
Name: 부실판단, Length: 532, dtype: float64

In [20]:
X_train

,회사명,거래소코드,회계년도,CASH FLOW 대 부채비율,CASH FLOW 대 차입금비율,CASH FLOW 대 총자본비율,CASH FLOW 대 매출액비율,유동비율,당좌비율,부채비율,...,상장년수,PER,PBR,PCR,PSR,도입기,성숙기,성장기,쇠퇴기,부실판단
647,제룡전기(주),33100,2022,-28,-1970,-5,-6,401,246,24,...,27.0,14.478764,2551.210562,-1.061688e+04,2099.694097,0,0,0,1,0.0
93,(주)메디아나,41920,2022,82,1973,11,16,655,486,15,...,10.0,8.033033,950.463529,8.825284e+03,1252.437351,0,1,0,0,0.0
166,(주)손오공,66910,2014,5,7,3,3,143,78,167,...,19.0,-22.137405,3127.570966,-6.211312e+04,1196.847919,0,0,0,1,1.0
199,(주)아나패스,123860,2020,-11,-36,-9,-8,114,108,397,...,14.0,-5.545267,15672.502903,-1.381579e+06,2900.170563,0,0,0,1,1.0
55,(주)듀오백,73190,2015,-19,-250,-3,-3,345,286,17,...,20.0,-8.218750,850.758176,-1.683121e+04,903.312484,0,0,0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,(주)핌스,347770,2022,14,29,6,6,119,104,66,...,4.0,20.220588,1138.129279,1.267758e+04,769.659343,0,1,0,0,0.0
381,(주)초록뱀미디어,47820,2014,-41,-74,-8,-8,241,241,24,...,22.0,-31.866667,2831.659621,-1.407871e+04,2393.369589,0,0,0,1,1.0
217,(주)알톤스포츠,123750,2017,-45,-56,-22,-30,139,76,95,...,14.0,-2.188320,1398.561497,-6.378887e+05,978.426068,0,0,0,1,1.0
391,(주)케이아이엔엑스,93320,2022,77,151,15,26,441,441,24,...,13.0,14.108527,1669.033900,7.708489e+03,2401.980173,0,1,0,0,0.0
45,(주)더 미동,161570,2022,-14,-21,-5,-22,48,41,60,...,11.0,-6.169591,853.690664,-7.909248e+03,2180.244283,1,0,0,0,0.0

# Undersampling 표본추출

In [21]:
import pandas as pd
from imblearn.under_sampling import RandomUnderSampler
# 쌍대표본 방식의 언더샘플링 수행
sampler = RandomUnderSampler(sampling_strategy='auto', random_state=42)

# feature와 label을 하나의 csv 파일로 만들예정

도입기 intro

In [22]:
intro_X_train = X_train.loc[X_train['도입기'] == 1]
intro_y_train = X_train.loc[X_train['도입기'] == 1]['부실판단']
intro_X_resampled_train, intro_y_resampled_train = sampler.fit_resample(intro_X_train, intro_y_train)

In [23]:
intro_X_resampled_train[['도입기', '부실판단']].value_counts()

도입기  부실판단
1    0.0     36
     1.0     36
Name: count, dtype: int64

성장기 growth

In [24]:
growth_X_train = X_train.loc[X_train['성장기'] == 1]
growth_y_train = X_train.loc[X_train['성장기'] == 1]['부실판단']
growth_X_resampled_train, growth_y_resampled_train = sampler.fit_resample(growth_X_train, growth_y_train)

In [25]:
growth_X_resampled_train[['성장기', '부실판단']].value_counts()

성장기  부실판단
1    0.0     43
     1.0     43
Name: count, dtype: int64

성숙기 maturity

In [26]:
maturity_X_train = X_train.loc[X_train['성숙기'] == 1]
maturity_y_train = X_train.loc[X_train['성숙기'] == 1]['부실판단']
maturity_X_resampled_train, maturity_y_resampled_train = sampler.fit_resample(maturity_X_train, maturity_y_train)

In [27]:
maturity_X_resampled_train[['성숙기', '부실판단']].value_counts()

성숙기  부실판단
1    0.0     37
     1.0     37
Name: count, dtype: int64

쇠퇴기 decline

In [28]:
decline_X_train = X_train.loc[X_train['쇠퇴기'] == 1]
decline_y_train = X_train.loc[X_train['쇠퇴기'] == 1]['부실판단']
decline_X_resampled_train, decline_y_resampled_train = sampler.fit_resample(decline_X_train, decline_y_train)

In [29]:
decline_X_resampled_train[['쇠퇴기', '부실판단']].value_counts()

쇠퇴기  부실판단
1    0.0     27
     1.0     27
Name: count, dtype: int64

# make csv file

concat

In [30]:
train_data = pd.concat([intro_X_resampled_train, growth_X_resampled_train, maturity_X_resampled_train, decline_X_resampled_train], axis=0, ignore_index=True)

In [31]:
train_data[['쇠퇴기', '부실판단']].value_counts()

쇠퇴기  부실판단
0    0.0     116
     1.0     116
1    0.0      27
     1.0      27
Name: count, dtype: int64

In [32]:
X_test['부실판단'] = y_test

to_csv

In [33]:
train_data.to_csv("./listed_resampled_train_data.csv", index=False)

In [34]:
X_test.to_csv("./listed_test_data.csv", index=False)