목적 : unlisted data split & Resampling
==============
목표 : 쌍대표본방식으로 Undersampling
-----------------
각 수명주기별 부실기업 표본수와 정상기업 표본수를 일치하도록 임의로 추출한다.

import modules

In [2]:
import pandas as pd
import numpy as np
#워닝 메시지
import warnings
warnings.filterwarnings('ignore')

load files

In [3]:
unlisted = pd.read_csv("./비상장후보피처.csv")

# 데이터 확인

In [4]:
unlisted.columns

Index(['회사명', '거래소코드', '회계년도', 'CASH FLOW 대 부채비율', 'CASH FLOW 대 차입금비율',
       'CASH FLOW 대 총자본비율', 'CASH FLOW 대 매출액비율', '유동비율', '당좌비율', '부채비율',
       '유동부채비율', '차입금의존도', '순운전자본비율', '현금비율', '유동자산구성비율', '자기자본구성비율',
       '자기자본순이익률', '경영자본순이익률', '매출액순이익률', '총자본사업이익률', '총자본영업이익률', '매출액영업이익률',
       '금융비용부담률', 'CROE', '총자산증가율', '총자본증가율', '유동자산증가율', '비유동자산증가율', '매출액증가율',
       '유형자산증가율', '부가가치(백만원)', '총자본투자효율', '설비투자효율', '부가가치율', '이윤분배율', '자본분배율',
       '총자산회전율', '매출채권회전률', '당좌자산회전률', '유형자산회전율', '경영자본회전률', '총자본회전률',
       '비유동자산회전률', '유동자산회전률', '영업년수', '부실판단', '도입기', '성숙기', '성장기', '쇠퇴기'],
      dtype='object')

In [5]:
unlisted['부실판단'].value_counts()

부실판단
0.0    13225
1.0     7482
Name: count, dtype: int64

In [6]:
unlisted[['도입기', '부실판단']].value_counts()

도입기  부실판단
0    0.0     11410
     1.0      4747
1    1.0      2735
     0.0      1815
Name: count, dtype: int64

In [7]:
unlisted[['성장기', '부실판단']].value_counts()

성장기  부실판단
0    0.0     10131
     1.0      6590
1    0.0      3094
     1.0       892
Name: count, dtype: int64

In [8]:
unlisted[['성숙기', '부실판단']].value_counts()

성숙기  부실판단
0    0.0     6941
1    0.0     6284
0    1.0     6229
1    1.0     1253
Name: count, dtype: int64

In [9]:
unlisted[['쇠퇴기', '부실판단']].value_counts()

쇠퇴기  부실판단
0    0.0     11193
     1.0      4880
1    1.0      2602
     0.0      2032
Name: count, dtype: int64

# train_test_split

In [10]:
unlisted

,회사명,거래소코드,회계년도,CASH FLOW 대 부채비율,CASH FLOW 대 차입금비율,CASH FLOW 대 총자본비율,CASH FLOW 대 매출액비율,유동비율,당좌비율,부채비율,...,경영자본회전률,총자본회전률,비유동자산회전률,유동자산회전률,영업년수,부실판단,도입기,성숙기,성장기,쇠퇴기
0,주식회사성환,81567,2019,7.09,17.07,0.56,13.70,30.42,30.42,8.61,...,0.04,0.04,0.04,4.05,8.0,0.0,0,1,0,0
1,주식회사성후,86355,2022,8.06,22.99,5.92,80.12,211.53,211.53,276.77,...,0.08,0.08,0.09,2.34,7.0,0.0,0,0,1,0
2,주식회사성훈,94984,2021,-0.66,-0.69,-0.68,-13.77,9.30,9.23,0.00,...,0.05,0.05,0.05,1.25,5.0,1.0,1,0,0,0
3,주식회사성훈철강,56923,2022,23.22,30.13,7.23,12.35,65.24,50.34,45.27,...,1.14,0.61,0.73,3.57,29.0,0.0,0,1,0,0
4,주식회사성희,63893,2021,-11.77,-12.62,-8.05,-1202.08,141.01,3.01,216.01,...,0.01,0.01,0.08,0.01,20.0,1.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20702,주식회사나노브릭,77738,2017,-14.23,-27.59,-13.90,-41.83,20.67,9.69,4278.15,...,0.31,0.29,0.33,2.08,17.0,1.0,0,0,0,1
20703,주식회사나노아,67623,2017,-153.85,0.00,-49.38,-934.36,313.18,313.18,47.27,...,0.02,0.02,0.02,0.10,14.0,0.0,0,0,0,1
20704,주식회사나노앤텍,72817,2022,0.76,0.85,0.57,1.40,63.52,34.19,304.84,...,0.52,0.50,0.63,2.46,19.0,0.0,0,0,1,0
20705,주식회사나노코,56825,2022,28.06,38.70,11.23,11.22,261.67,184.98,66.72,...,1.12,1.01,2.48,1.70,24.0,0.0,0,1,0,0
20706,주식회사나노팜,29937,2019,29.25,0.00,6.52,10.65,763.56,526.40,28.67,...,0.65,0.63,1.80,0.96,26.0,0.0,0,1,0,0

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split

# 예제 데이터프레임 생성
# data = {'feature1': range(10), 'feature2': range(10), 'label': range(10)}
# df = pd.DataFrame(data)

# # 특성과 레이블을 나눔
# X = df[['feature1', 'feature2']]
# y = df['label']

X = unlisted.drop('부실판단', axis=1)
y = unlisted['부실판단']
# 데이터를 학습용과 테스트용으로 나눔
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=(np.exp(1) / 10), random_state=119, stratify=y)

In [12]:
len(y_train)

15078

In [13]:
len(y_test)

5629

In [14]:
X_train['도입기'].value_counts()

도입기
0    11797
1     3281
Name: count, dtype: int64

In [15]:
X_train['성장기'].value_counts()

성장기
0    12196
1     2882
Name: count, dtype: int64

In [16]:
X_train['성숙기'].value_counts()

성숙기
0    9536
1    5542
Name: count, dtype: int64

In [17]:
X_train['쇠퇴기'].value_counts()

쇠퇴기
0    11705
1     3373
Name: count, dtype: int64

In [18]:
X_train['부실판단'] = y_train

In [19]:
y_train

2144     0.0
20333    0.0
5666     0.0
15544    1.0
11401    0.0
        ...
1343     0.0
6068     1.0
10342    1.0
19465    0.0
18927    0.0
Name: 부실판단, Length: 15078, dtype: float64

In [20]:
y_train

2144     0.0
20333    0.0
5666     0.0
15544    1.0
11401    0.0
        ...
1343     0.0
6068     1.0
10342    1.0
19465    0.0
18927    0.0
Name: 부실판단, Length: 15078, dtype: float64

In [21]:
X_train

,회사명,거래소코드,회계년도,CASH FLOW 대 부채비율,CASH FLOW 대 차입금비율,CASH FLOW 대 총자본비율,CASH FLOW 대 매출액비율,유동비율,당좌비율,부채비율,...,경영자본회전률,총자본회전률,비유동자산회전률,유동자산회전률,영업년수,도입기,성숙기,성장기,쇠퇴기,부실판단
2144,주식회사제이에스케이,74269,2022,4.91,6.47,3.13,4.43,129.34,97.70,175.91,...,0.79,0.74,1.15,2.07,22.0,0,0,1,0,0.0
20333,주)에스엠케이인터내셔날,44046,2022,15.93,21.61,5.77,6.63,158.48,136.81,56.84,...,1.18,0.92,2.13,1.61,28.0,1,0,0,0,0.0
5666,(주)지인터내셔날,86519,2022,152.92,0.00,19.91,17.99,735.78,545.18,14.97,...,1.28,1.27,27.68,1.33,12.0,0,1,0,0,0.0
15544,(주)엔젤이앤씨,41780,2014,-4.75,-6.61,-1.92,-210.87,14.62,14.62,68.01,...,0.02,0.01,0.01,0.30,46.0,0,0,0,1,1.0
11401,(주)거봉,61799,2022,3.31,3.78,2.43,8.97,36.36,32.47,274.45,...,0.31,0.28,0.36,1.14,23.0,0,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1343,주식회사오투,98975,2022,2.23,2.61,1.75,20.92,0.38,0.38,373.07,...,0.08,0.08,0.08,37.17,14.0,0,1,0,0,0.0
6068,(주)케이티앤씨,19246,2015,-4.73,-6.55,-3.20,-10.38,62.13,44.23,208.08,...,0.37,0.33,0.57,0.78,27.0,1,0,0,0,1.0
10342,미래문화산업(주),95391,2021,-0.36,-0.36,-0.36,-27.04,2.26,2.26,18254.67,...,0.02,0.01,0.01,0.45,5.0,1,0,0,0,1.0
19465,(주)제이앤와이스타일,91318,2022,24.43,29.98,6.79,8.21,98.08,75.69,38.48,...,0.88,0.85,1.12,3.53,13.0,0,0,1,0,0.0
18927,(주)유앤아이디벨롭먼트,86514,2020,-1737.64,0.00,-17.10,-135.08,13213.26,13213.26,0.99,...,0.12,0.11,1.01,0.13,19.0,0,0,0,1,0.0

# Undersampling 표본추출

In [22]:
import pandas as pd
from imblearn.under_sampling import RandomUnderSampler
# 쌍대표본 방식의 언더샘플링 수행
sampler = RandomUnderSampler(sampling_strategy='auto', random_state=42)

# feature와 label을 하나의 csv 파일로 만들예정

도입기 intro

In [23]:
intro_X_train = X_train.loc[X_train['도입기'] == 1]
intro_y_train = X_train.loc[X_train['도입기'] == 1]['부실판단']
intro_X_resampled_train, intro_y_resampled_train = sampler.fit_resample(intro_X_train, intro_y_train)

In [24]:
intro_X_resampled_train[['도입기', '부실판단']].value_counts()

도입기  부실판단
1    0.0     1298
     1.0     1298
Name: count, dtype: int64

성장기 growth

In [25]:
growth_X_train = X_train.loc[X_train['성장기'] == 1]
growth_y_train = X_train.loc[X_train['성장기'] == 1]['부실판단']
growth_X_resampled_train, growth_y_resampled_train = sampler.fit_resample(growth_X_train, growth_y_train)

In [26]:
growth_X_resampled_train[['성장기', '부실판단']].value_counts()

성장기  부실판단
1    0.0     634
     1.0     634
Name: count, dtype: int64

성숙기 maturity

In [27]:
maturity_X_train = X_train.loc[X_train['성숙기'] == 1]
maturity_y_train = X_train.loc[X_train['성숙기'] == 1]['부실판단']
maturity_X_resampled_train, maturity_y_resampled_train = sampler.fit_resample(maturity_X_train, maturity_y_train)

In [28]:
maturity_X_resampled_train[['성숙기', '부실판단']].value_counts()

성숙기  부실판단
1    0.0     932
     1.0     932
Name: count, dtype: int64

쇠퇴기 decline

In [29]:
decline_X_train = X_train.loc[X_train['쇠퇴기'] == 1]
decline_y_train = X_train.loc[X_train['쇠퇴기'] == 1]['부실판단']
decline_X_resampled_train, decline_y_resampled_train = sampler.fit_resample(decline_X_train, decline_y_train)

In [30]:
decline_X_resampled_train[['쇠퇴기', '부실판단']].value_counts()

쇠퇴기  부실판단
1    0.0     1474
     1.0     1474
Name: count, dtype: int64

# make csv file

concat

In [31]:
train_data = pd.concat([intro_X_resampled_train, growth_X_resampled_train, maturity_X_resampled_train, decline_X_resampled_train], axis=0, ignore_index=True)

In [32]:
train_data[['쇠퇴기', '부실판단']].value_counts()

쇠퇴기  부실판단
0    0.0     2864
     1.0     2864
1    0.0     1474
     1.0     1474
Name: count, dtype: int64

In [33]:
X_test['부실판단'] = y_test

to_csv

In [34]:
train_data.to_csv("./unlisted_resampled_train_data.csv", index=False)

In [35]:
X_test.to_csv("./unlisted_test_data.csv", index=False)