In [15]:
import pandas as pd
import numpy as np

In [11]:
flow = pd.read_excel("./유동.xlsx")

In [13]:
flow.isin([0]).sum().sort_values(ascending=False)

유동부채비율      26
유동자산구성비율     2
유동비율         1
회사명          0
거래소코드        0
회계년도         0
dtype: int64

In [17]:
flow.replace(0, np.nan, inplace=True)

In [18]:
flow.isna().sum().sort_values(ascending=False)

유동부채비율      315
유동자산구성비율    291
유동비율        290
회사명           0
거래소코드         0
회계년도          0
dtype: int64

In [19]:
len(flow)

8094

In [28]:
flow_filtered = flow[flow.notnull().any(axis=1)]

In [31]:
flow.dropna(inplace=True)

In [34]:
flow.columns

Index(['회사명', '거래소코드', '회계년도', '유동비율', '유동자산구성비율', '유동부채비율'], dtype='object')

In [39]:
i = 3
print(flow.columns[i])
flow[flow.columns[i]].sort_values(ascending=False)

유동비율

2707    74366.25
1026    42687.58
2708    29866.52
62      26230.41
2709    22482.71
          ...
6607        6.88
587         6.87
7690        6.03
5363        4.14
5362        4.08
Name: 유동비율, Length: 7778, dtype: float64

In [36]:
i = 4
print(flow.columns[i])
flow[flow.columns[i]].sort_values(ascending=False)

유동자산구성비율

7654    99.49
3824    99.46
4839    99.11
3929    98.93
3823    98.89
        ...
4027     3.11
7473     2.85
6633     2.72
6634     1.47
6635     0.75
Name: 유동자산구성비율, Length: 7778, dtype: float64

In [37]:
i = 5
print(flow.columns[i])
flow[flow.columns[i]].sort_values(ascending=False)

유동부채비율

2590    17700.11
2422     6221.91
5361     3031.76
2591     3021.05
6309     2330.61
          ...
6630        0.13
1866        0.11
2708        0.08
2709        0.06
2707        0.03
Name: 유동부채비율, Length: 7778, dtype: float64

In [51]:
vol =  2 / (-1 / flow[flow.columns[3]] + 1 / flow[flow.columns[5]])

In [58]:
round(vol.sort_values(ascending=False), 1).head(11)

2490         inf
7328    492131.2
6325    297752.7
3492    127274.0
7347    111487.1
5032     57227.1
1236     55793.9
2266     48870.4
5635     44329.4
1676     44320.9
106      37618.7
dtype: float64

In [54]:
flow.loc[flow.index == 2490]

           회사명  거래소코드     회계년도    유동비율  유동자산구성비율  유동부채비율
2490  (주)알에프세미  96610  2021/12  106.12     44.69  106.12