In [79]:
import pandas as pd
import numpy as np
# pd.set_option('display.max_rows', None)
pd.reset_option('display.max_rows')

In [2]:
df1 = pd.read_csv('./datasets/상장_부실라벨링작업중.csv', encoding = 'cp949')
df2 = pd.read_csv('./datasets/비상장_부실라벨링작업중.csv', encoding='utf-8')

In [3]:
# 상장 부실판단
df1['부실판단'] = None
cond1 = (df1['감사부실'] == 1) | (df1['이보배부실'] == 1) | (df1['현금흐름부실'] == 1)
cond2 = (~cond1) & (df1['감사부실'] == 0) | (df1['이보배부실'] == 0) | (df1['현금흐름부실'] == 0)

df1.loc[cond1, '부실판단'] = 1
df1.loc[cond2, '부실판단'] = 0

# 비상장 부실판단
df2['부실판단'] = None
cond1 = (df2['감사부실'] == 1) | (df2['이보배부실'] == 1) | (df2['현금흐름부실'] == 1)
cond2 = (~cond1) & (df2['감사부실'] == 0) | (df2['이보배부실'] == 0) | (df2['현금흐름부실'] == 0)

df2.loc[cond1, '부실판단'] = 1
df2.loc[cond2, '부실판단'] = 0

In [4]:
## 상장기업
# 부실기업 데이터만 출력
bank1 = df1[df1['부실판단'] == 1]
bank1.drop_duplicates(subset='거래소코드', keep='first', inplace=True)

# 정상기업 데이터만 남기기
bank1_code = bank1['거래소코드'].unique() # 부실로 선정된 기업의 거래소코드
non_bank1 = df1[~df1['거래소코드'].isin(bank1_code)] # 부실선정 기업 제거
non_bank1.drop_duplicates(subset='거래소코드', keep='last', inplace=True)

# 부실기업과 정상기업 데이터프레임 합치기
final1 = pd.concat([bank1, non_bank1])
final1.reset_index(drop=True, inplace=True)


### 비상장 기업
# 부실기업 데이터만 출력
bank2 = df2[df2['부실판단'] == 1]
bank2.drop_duplicates(subset='거래소코드', keep='first', inplace=True)

# 정상기업 데이터만 남기기
bank2_code = bank2['거래소코드'].unique() # 부실로 선정된 기업의 거래소코드
non_bank2 = df2[~df2['거래소코드'].isin(bank2_code)] # 부실선정 기업 제거
non_bank2.drop_duplicates(subset='거래소코드', keep='last', inplace=True)

# 부실기업과 정상기업 데이터프레임 합치기
final2 = pd.concat([bank2, non_bank2])
final2.reset_index(drop=True, inplace=True)

/var/folders/df/m4l1hlnx5c18dp33bl_wvl5m0000gn/T/ipykernel_27426/1554827292.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank1.drop_duplicates(subset='거래소코드', keep='first', inplace=True)
/var/folders/df/m4l1hlnx5c18dp33bl_wvl5m0000gn/T/ipykernel_27426/1554827292.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_bank1.drop_duplicates(subset='거래소코드', keep='last', inplace=True)
/var/folders/df/m4l1hlnx5c18dp33bl_wvl5m0000gn/T/ipykernel_27426/1554827292.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bank2.drop_duplicates(subset='거래소코드', keep='first', inplace=True)
/var/folders/df/m4l1hlnx5c18dp33bl_wvl5m0000gn/T/ipykernel_27426/1554827292.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_bank2.drop_duplicates(subset='거래소코드', keep='last', inplace=True)

In [6]:
final1 = final1.drop(columns=['Unnamed: 0', '감사의견코드', '[U01410000]영업활동으로 인한 현금흐름(*)(천원)','감사부실', '이보배부실', '현금흐름부실'])

final2 = final2.drop(columns=['Unnamed: 0', '감사의견코드', '[U01410000]영업활동으로 인한 현금흐름(*)(천원)', '감사부실', '이보배부실', '현금흐름부실'])

In [56]:
cond0 = (final2['이자보상배율(이자비용)'] == 999999999.0)
df0 = final2[cond0]

In [57]:
df0['구분'] = 0
df0.reset_index(drop=True, inplace=True)
df0

/var/folders/df/m4l1hlnx5c18dp33bl_wvl5m0000gn/T/ipykernel_27426/3735816366.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df0['구분'] = 0

              회사명  거래소코드  회계년도  이자보상배율(이자비용) 부실판단  구분
0       (주)금하네이벌텍  64031  2021   999999999.0    1   0
1        (주)나우이엔지  83033  2018   999999999.0    1   0
2       (주)대건유앤에쓰  50017  2020   999999999.0    1   0
3      과천미래대토주식회사  78391  2020   999999999.0    1   0
4     농업회사법인서림(주)  71342  2018   999999999.0    1   0
...           ...    ...   ...           ...  ...  ..
3310      흥진산업(주)  81193  2022   999999999.0    0   0
3311    희망배움터주식회사  59973  2022   999999999.0    0   0
3312    희망성남교육(주)  60967  2018   999999999.0    0   0
3313      희망세움(주)  63063  2022   999999999.0    0   0
3314     희상건설주식회사  86164  2022   999999999.0    0   0

[3315 rows x 6 columns]

In [81]:
df = pd.read_csv('./datasets/외감재무비율/비상장_영업이익.csv', encoding='cp949')

In [82]:
df

,Unnamed: 0,회사명,거래소코드,회계년도,[U01D109010000] *영업에서 창출된 현금흐름(IFRS)(천원),[U01D109010000] *영업에서 창출된 현금흐름(IFRS연결)(천원),[U01410000]영업활동으로 인한 현금흐름(*)(천원),[U01221302] 이자비용(천원),[U01410080]*이자비용유출액(천원)
0,0,(유)가든주류,97082,2019/12,NaN,NaN,138498.0,0.0,0.0
1,1,(유)가든주류,97082,2020/12,NaN,NaN,-341826.0,0.0,0.0
2,2,(유)가든주류,97082,2021/12,NaN,NaN,130657.0,0.0,0.0
3,3,(유)가든주류,97082,2022/12,NaN,NaN,-26425950.0,0.0,0.0
4,4,(유)기흥모터스,94470,2019/12,NaN,NaN,-1577962.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
243677,22560,힐링홈스주식회사,84799,2017/12,NaN,NaN,-2619527.0,0.0,0.0
243678,22561,힐링홈스주식회사,84799,2018/12,NaN,NaN,124991.0,0.0,0.0
243679,22562,힐중공업주식회사,82007,2016/12,NaN,NaN,-1355797.0,0.0,0.0
243680,22563,힐중공업주식회사,82007,2017/12,NaN,NaN,-430350.0,0.0,0.0
243681,22564,힐중공업주식회사,82007,2018/12,NaN,NaN,475593.0,0.0,0.0

In [27]:
df.columns

Index(['Unnamed: 0', '회사명', '거래소코드', '회계년도',
       '[U01D109010000]   *영업에서 창출된 현금흐름(IFRS)(천원)',
       '[U01D109010000]   *영업에서 창출된 현금흐름(IFRS연결)(천원)',
       '[U01410000]영업활동으로 인한 현금흐름(*)(천원)', '[U01221302]   이자비용(천원)',
       '[U01410080]*이자비용유출액(천원)'],
      dtype='object')

In [38]:
df

,회사명,거래소코드,회계년도,[U01410000]영업활동으로 인한 현금흐름(*)(천원),[U01221302] 이자비용(천원),[U01410080]*이자비용유출액(천원)
0,(유)가든주류,97082,2019/12,138498.0,0.0,0.0
1,(유)가든주류,97082,2020/12,-341826.0,0.0,0.0
2,(유)가든주류,97082,2021/12,130657.0,0.0,0.0
3,(유)가든주류,97082,2022/12,-26425950.0,0.0,0.0
4,(유)기흥모터스,94470,2019/12,-1577962.0,0.0,0.0
...,...,...,...,...,...,...
243677,힐링홈스주식회사,84799,2017/12,-2619527.0,0.0,0.0
243678,힐링홈스주식회사,84799,2018/12,124991.0,0.0,0.0
243679,힐중공업주식회사,82007,2016/12,-1355797.0,0.0,0.0
243680,힐중공업주식회사,82007,2017/12,-430350.0,0.0,0.0
243681,힐중공업주식회사,82007,2018/12,475593.0,0.0,0.0

In [67]:
drop_columns=['Unnamed: 0', '[U01D109010000]   *영업에서 창출된 현금흐름(IFRS)(천원)',
       '[U01D109010000]   *영업에서 창출된 현금흐름(IFRS연결)(천원)', '[U01221302]   이자비용(천원)', '[U01410080]*이자비용유출액(천원)']
df = df.drop(columns = drop_columns)

In [68]:
df['회계년도'] = df['회계년도'].str[:4].astype(int)

In [73]:
df

             회사명  거래소코드  회계년도  [U01410000]영업활동으로 인한 현금흐름(*)(천원)
0        (유)가든주류  97082  2019                          138498.0
1        (유)가든주류  97082  2020                         -341826.0
2        (유)가든주류  97082  2021                          130657.0
3        (유)가든주류  97082  2022                       -26425950.0
4       (유)기흥모터스  94470  2019                        -1577962.0
...          ...    ...   ...                               ...
243677  힐링홈스주식회사  84799  2017                        -2619527.0
243678  힐링홈스주식회사  84799  2018                          124991.0
243679  힐중공업주식회사  82007  2016                        -1355797.0
243680  힐중공업주식회사  82007  2017                         -430350.0
243681  힐중공업주식회사  82007  2018                          475593.0

[243682 rows x 4 columns]

In [72]:
df0

              회사명  거래소코드  회계년도  이자보상배율(이자비용) 부실판단  구분
0       (주)금하네이벌텍  64031  2021   999999999.0    1   0
1        (주)나우이엔지  83033  2018   999999999.0    1   0
2       (주)대건유앤에쓰  50017  2020   999999999.0    1   0
3      과천미래대토주식회사  78391  2020   999999999.0    1   0
4     농업회사법인서림(주)  71342  2018   999999999.0    1   0
...           ...    ...   ...           ...  ...  ..
3310      흥진산업(주)  81193  2022   999999999.0    0   0
3311    희망배움터주식회사  59973  2022   999999999.0    0   0
3312    희망성남교육(주)  60967  2018   999999999.0    0   0
3313      희망세움(주)  63063  2022   999999999.0    0   0
3314     희상건설주식회사  86164  2022   999999999.0    0   0

[3315 rows x 6 columns]

In [74]:
df_merge = pd.merge(df0, df, how = 'inner', on = ("회사명","거래소코드", "회계년도"))
df_merge

,회사명,거래소코드,회계년도,이자보상배율(이자비용),부실판단,구분,[U01410000]영업활동으로 인한 현금흐름(*)(천원)
0,(주)금하네이벌텍,64031,2021,999999999.0,1,0,0.0
1,(주)나우이엔지,83033,2018,999999999.0,1,0,4999999.0
2,(주)대건유앤에쓰,50017,2020,999999999.0,1,0,-149878.0
3,과천미래대토주식회사,78391,2020,999999999.0,1,0,-118062.0
4,농업회사법인서림(주),71342,2018,999999999.0,1,0,134157.0
...,...,...,...,...,...,...,...
3284,흥진산업(주),81193,2022,999999999.0,0,0,1580317.0
3285,희망배움터주식회사,59973,2022,999999999.0,0,0,1895843.0
3286,희망성남교육(주),60967,2018,999999999.0,0,0,2789486.0
3287,희망세움(주),63063,2022,999999999.0,0,0,18631345.0
3288,희상건설주식회사,86164,2022,999999999.0,0,0,4676393.0

In [80]:
cond111 = df_merge['[U01410000]영업활동으로 인한 현금흐름(*)(천원)'] < 0
len(df_merge[cond111])

1260