In [18]:
import pandas as pd

In [19]:
audit_bk = pd.read_csv(
    "../1.데이터셋/Bankruptcy_Label/비상장_부실판단.csv", index_col=0
)
kskqkn_bk = pd.read_csv(
    "../1.데이터셋/Bankruptcy_Label/상장_부실판단.csv", index_col=0
)
audit_lc = pd.read_csv("../1.데이터셋/Life_Cycle_Label/비상장_수명주기.csv", index_col=0)
kskqkn_lc = pd.read_csv("../1.데이터셋/Life_Cycle_Label/상장_수명주기.csv", index_col=0)

In [20]:
audit_bk

               회사명   거래소코드  회계년도  부실판단
0      주식회사형지에스콰이아   10032  2014   1.0
1          글로웨이(주)   10037  2014   1.0
2          청화산업(주)   10042  2015   1.0
3          홍원제지(주)   10062  2014   1.0
4        주식회사전주원파워   10128  2016   1.0
...            ...     ...   ...   ...
33111    주식회사우먼패키지  106543  2022   NaN
33112      우진기업(주)  106612  2022   NaN
33113      (주)에코매스  106852  2022   NaN
33114    (주)톱스톡케미칼  106986  2022   NaN
33115    협성화학섬유(주)  107069  2022   NaN

[33116 rows x 4 columns]

In [21]:
audit_lc

                  회사명  거래소코드  회계년도 기업수명주기
0          주식회사삼성산업개발  78238  2015    도입기
1           주식회사삼성씨에스  95243  2021    성장기
2           주식회사삼성씨에스  95243  2022    성숙기
3       주식회사삼성에이치제이에스  46726  2012    성장기
4       주식회사삼성에이치제이에스  46726  2013    성장기
...               ...    ...   ...    ...
194310      주식회사경안파이프  40699  2020    성숙기
194311      주식회사경안파이프  40699  2022    성숙기
194312         주식회사경암  99966  2020    쇠퇴기
194313         주식회사경암  99966  2021    성장기
194314         주식회사경암  99966  2022    성장기

[194315 rows x 4 columns]

In [22]:
audit_df = pd.merge(audit_bk, audit_lc, how='inner', on=['회사명', '거래소코드', '회계년도'])
audit_df

               회사명   거래소코드  회계년도  부실판단 기업수명주기
0      주식회사형지에스콰이아   10032  2014   1.0    성장기
1          글로웨이(주)   10037  2014   1.0    쇠퇴기
2          청화산업(주)   10042  2015   1.0    성장기
3          홍원제지(주)   10062  2014   1.0    도입기
4        주식회사전주원파워   10128  2016   1.0    성숙기
...            ...     ...   ...   ...    ...
25296   (주)대흥엔지니어링  106517  2022   NaN    도입기
25297    주식회사우먼패키지  106543  2022   NaN    성숙기
25298      (주)에코매스  106852  2022   NaN    성장기
25299    (주)톱스톡케미칼  106986  2022   NaN    성숙기
25300    협성화학섬유(주)  107069  2022   NaN    도입기

[25301 rows x 5 columns]

In [23]:
kskqkn_df = pd.merge(kskqkn_bk, kskqkn_lc, how="inner", on=["회사명", "거래소코드", "회계년도"])
kskqkn_df

                     회사명   거래소코드  회계년도  부실판단 기업수명주기
0              케이알모터스(주)      40  2014   1.0    도입기
1                (주)천일고속     650  2022   1.0    쇠퇴기
2                이화산업(주)     760  2019   1.0    성숙기
3                신라섬유(주)    1000  2015   1.0    도입기
4                삼성제약(주)    1360  2014   1.0    쇠퇴기
..                   ...     ...   ...   ...    ...
884             (주)블리츠웨이  369370  2022   NaN    도입기
885        차이나크리스탈신소재홀딩스  900250  2022   0.0    성장기
886             헝셩그룹유한회사  900270  2022   0.0    성장기
887  오가닉티코스메틱스홀딩스컴퍼니리미티드  900300  2022   0.0    성장기
888              윙입푸드홀딩스  900340  2022   0.0    성장기

[889 rows x 5 columns]

In [24]:
kskqkn_df.isna().sum()

회사명        0
거래소코드      0
회계년도       0
부실판단      22
기업수명주기     0
dtype: int64

In [25]:
audit_df.isna().sum()

회사명         0
거래소코드       0
회계년도        0
부실판단      345
기업수명주기      0
dtype: int64

In [26]:
len(audit_df)

25301

In [27]:
345/25064 * 100

1.3764762208745611

In [28]:
len(kskqkn_bk)

988

In [29]:
len(kskqkn_df)

889

In [30]:
kskqkn_df.to_csv("../1.데이터셋/Life_Cycle_Label/상장부실+수명주기.csv")

In [31]:
audit_df.to_csv("../1.데이터셋/Life_Cycle_Label/비상장부실+수명주기.csv")