In [45]:
import pandas as pd

pd.options.display.float_format = "{:.2f}".format

In [46]:
kskqkn = pd.read_csv("../1.데이터셋/부실/상장_영업이익/상장_영업이익.csv", index_col=0)
kskqkn = kskqkn[
    [
        "회사명",
        "거래소코드",
        "회계년도",
        "이자보상배율(이자비용)",
        "[U01250010]   이자비용(천원)",
        "[U01230000]영업이익(손실)(천원)",
    ]
]

audit = pd.read_csv("../1.데이터셋/부실/상장_영업이익/외감_영업이익.csv", index_col=0)
audit = audit[
    [
        "회사명",
        "거래소코드",
        "회계년도",
        "이자보상배율(이자비용)",
        "[U01250010]   이자비용(천원)",
        "[U01230000]영업이익(손실)(천원)",
    ]
]
audit

,회사명,거래소코드,회계년도,이자보상배율(이자비용),[U01250010] 이자비용(천원),[U01230000]영업이익(손실)(천원)
0,(유)유맥에프앤알,14534,2012/12,4.84,222557.00,1078114.00
1,(유)유맥에프앤알,14534,2013/12,8.28,176881.00,1464673.00
2,(유)유맥에프앤알,14534,2014/12,9.58,159353.00,1526416.00
3,(유)유맥에프앤알,14534,2015/12,6.68,133414.00,890788.00
4,(유)유맥에프앤알,14534,2016/12,10.63,183594.00,1951647.00
...,...,...,...,...,...,...
243679,파라뷰플러스주식회사,73160,2018/12,-5.83,685240.00,-3994193.00
243680,파라뷰플러스주식회사,73160,2019/12,-1.30,881290.00,-1144716.00
243681,파라뷰플러스주식회사,73160,2020/12,-7.36,382417.00,-2815894.00
243682,파라뷰플러스주식회사,73160,2021/12,-0.82,1325927.00,-1083558.00
243683,파라뷰플러스주식회사,73160,2022/12,-0.86,1370027.00,-1176839.00

In [47]:
kskqkn["회계년도"] = pd.to_datetime(kskqkn["회계년도"])
kskqkn = kskqkn[kskqkn["회계년도"].dt.month == 12].reset_index(drop=True)
kskqkn["회계년도"] = kskqkn["회계년도"].dt.year

audit["회계년도"] = pd.to_datetime(audit["회계년도"])
audit = audit[audit["회계년도"].dt.month == 12].reset_index(drop=True)
audit["회계년도"] = audit["회계년도"].dt.year

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_32142/2532133523.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  kskqkn["회계년도"] = pd.to_datetime(kskqkn["회계년도"])
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_32142/2532133523.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  audit["회계년도"] = pd.to_datetime(audit["회계년도"])

In [48]:
audit.describe()

,거래소코드,회계년도,이자보상배율(이자비용),[U01250010] 이자비용(천원),[U01230000]영업이익(손실)(천원)
count,243027.00,243027.00,242986.00,242988.00,242988.00
mean,64435.06,2017.58,105922557.63,517927.88,887236.42
std,24137.00,3.09,307729404.62,1542422.63,3965896.74
min,10037.00,2012.00,-512434467.00,-1000000.00,-137920600.00
25%,49085.00,2015.00,-0.07,66139.00,-144124.00
50%,66592.00,2018.00,2.03,234086.50,489597.00
75%,82468.00,2020.00,13.03,489741.00,1530479.50
max,107198.00,2022.00,1204771908.00,204433495.00,248151921.00

In [49]:
kskqkn.loc[
    (kskqkn["이자보상배율(이자비용)"] == 999999999) & (kskqkn["[U01230000]영업이익(손실)(천원)"] < 0),
    "이자보상배율(이자비용)",
] = 0

audit.loc[
    (audit["이자보상배율(이자비용)"] == 999999999) & (audit["[U01230000]영업이익(손실)(천원)"] < 0),
    "이자보상배율(이자비용)",
] = 0

In [50]:
kskqkn.head(3)

,회사명,거래소코드,회계년도,이자보상배율(이자비용),[U01250010] 이자비용(천원),[U01230000]영업이익(손실)(천원)
0,(주)굿센,243870,2016,105.29,9090.00,957115.00
1,(주)굿센,243870,2017,-1173.74,421.00,-494143.00
2,(주)굿센,243870,2018,-25.61,130536.00,-3343162.00

In [51]:
df = pd.read_csv("../1.데이터셋/부실/부실_상장.csv", encoding="cp949")
df.head(3)

df2 = pd.read_csv("../1.데이터셋/부실/외감_부실.csv", encoding='cp949', index_col=0)
df2.head(3)

,회사명,거래소코드,회계년도,감사의견코드,[U01410000]영업활동으로 인한 현금흐름(*)(천원),이자보상배율(이자비용)
0,(유)가든주류,97082,Dec-19,NaN,138498.00,3.17
1,(유)가든주류,97082,Dec-20,QS,-341826.00,1.29
2,(유)가든주류,97082,Dec-21,UQ,130657.00,0.29

In [52]:
df["회계년도"] = pd.to_datetime(df["회계년도"], format="%b-%y")
df = df[df["회계년도"].dt.month == 12].reset_index(drop=True)
df["회계년도"] = df["회계년도"].dt.year

df2["회계년도"] = pd.to_datetime(df2["회계년도"], format="%b-%y")
df2 = df2[df2["회계년도"].dt.month == 12].reset_index(drop=True)
df2["회계년도"] = df2["회계년도"].dt.year

In [53]:
df2

,회사명,거래소코드,회계년도,감사의견코드,[U01410000]영업활동으로 인한 현금흐름(*)(천원),이자보상배율(이자비용)
0,(유)가든주류,97082,2019,NaN,138498.00,3.17
1,(유)가든주류,97082,2020,QS,-341826.00,1.29
2,(유)가든주류,97082,2021,UQ,130657.00,0.29
3,(유)가든주류,97082,2022,DU,-26425950.00,-1.44
4,(유)기흥모터스,94470,2019,NaN,-1577962.00,3.24
...,...,...,...,...,...,...
251965,힐링홈스주식회사,84799,2017,NaN,-2619527.00,3.58
251966,힐링홈스주식회사,84799,2018,QS,124991.00,11.16
251967,힐중공업주식회사,82007,2016,NaN,-1355797.00,-2.98
251968,힐중공업주식회사,82007,2017,QS,-430350.00,-0.65
251969,힐중공업주식회사,82007,2018,QU,475593.00,-2.88

In [54]:
listed_merged_df = pd.merge(
    df, kskqkn[["거래소코드", "회계년도", "이자보상배율(이자비용)"]], on=["거래소코드", "회계년도"], how="left"
)


unlisted_merged_df = pd.merge(
    df2, audit[["거래소코드", "회계년도", "이자보상배율(이자비용)"]], on=["거래소코드", "회계년도"], how="left"
)

In [57]:
listed_merged_df.columns
unlisted_merged_df.columns

Index(['회사명', '거래소코드', '회계년도', '감사의견코드', '[U01410000]영업활동으로 인한 현금흐름(*)(천원)',
       '이자보상배율(이자비용)_x', '이자보상배율(이자비용)_y'],
      dtype='object')

In [58]:
listed_df = listed_merged_df[
    [
        "회사명",
        "거래소코드",
        "회계년도",
        "감사의견코드",
        "[U01410000]영업활동으로 인한 현금흐름(*)(천원)",
        "이자보상배율(이자비용)_y",
    ]
]

unlisted_df = unlisted_merged_df[
    [
        "회사명",
        "거래소코드",
        "회계년도",
        "감사의견코드",
        "[U01410000]영업활동으로 인한 현금흐름(*)(천원)",
        "이자보상배율(이자비용)_y",
    ]
]

In [59]:
listed_df.rename(columns={"이자보상배율(이자비용)_y": "이자보상배율(이자비용)"}, inplace=True)

unlisted_df.rename(columns={"이자보상배율(이자비용)_y": "이자보상배율(이자비용)"}, inplace=True)
unlisted_df

/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_32142/4100933835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listed_df.rename(columns={"이자보상배율(이자비용)_y": "이자보상배율(이자비용)"}, inplace=True)
/var/folders/y7/kjtd2q_j0c13ld5lwg5kd25r0000gn/T/ipykernel_32142/4100933835.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unlisted_df.rename(columns={"이자보상배율(이자비용)_y": "이자보상배율(이자비용)"}, inplace=True)

,회사명,거래소코드,회계년도,감사의견코드,[U01410000]영업활동으로 인한 현금흐름(*)(천원),이자보상배율(이자비용)
0,(유)가든주류,97082,2019,NaN,138498.00,3.17
1,(유)가든주류,97082,2020,QS,-341826.00,1.29
2,(유)가든주류,97082,2021,UQ,130657.00,0.29
3,(유)가든주류,97082,2022,DU,-26425950.00,-1.44
4,(유)기흥모터스,94470,2019,NaN,-1577962.00,3.24
...,...,...,...,...,...,...
251965,힐링홈스주식회사,84799,2017,NaN,-2619527.00,3.58
251966,힐링홈스주식회사,84799,2018,QS,124991.00,11.16
251967,힐중공업주식회사,82007,2016,NaN,-1355797.00,-2.98
251968,힐중공업주식회사,82007,2017,QS,-430350.00,-0.65
251969,힐중공업주식회사,82007,2018,QU,475593.00,-2.88

In [60]:
listed_df.to_csv("../1.데이터셋/부실/new_상장_부실.csv")
unlisted_df.to_csv("../1.데이터셋/부실/new_외감_부실.csv")